{% extends 'base.html' %}
{% block body %}
<div class="container">
<h1>Create New <span>Company</span> Account</h1>
<i>Username and password are case-sensitive</i><br>
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'form-template.html' %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form><br><br>
<h2>To sign up as an artist, <a href="{% url 'getdata:register' %}">click here</a></h1>
    <h3>Artist accounts are used to join a company's season and view their schedules.</h3>
</div>
{% endblock %}