{% extends 'base.html' %}
{% block body %}
<div class="container-fluid pl-5">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <h1>Password Change</h1>
                <br>
                {% for field in form %}
                    <div class="form-group align-items-center">
                        <div class="form-row align-items-center">
                            <span class="text-danger small">{{ field.errors }}</span>
                        </div>
                        <div class="form-row align-items-center">
                            <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                            <div class="col-sm-3" id='{{ field.name }}'>{{ field }}</div>
                        </div>
                    </div>
                    <div class="form-group align-items-center">
                        <div class="form-row align-items-center">
                            <span class="text-danger small">{{ field.errors }}</span>
                        </div>
                        <div class="form-row align-items-center">
                            <label class="control-label col-sm-2" for="retype_password">Retype Password:</label>
                            <div class="col-sm-3"><input type="password" id="retype_password" name="retype_password"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                {% endfor %}
            </form><br><br>
        </div>
    </div>
</div>
{% endblock %}